* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}

/*Gobal styles*/
body {
    background: white;
}


h3 {
    text-align: left;
    padding-bottom: 20px;
}

p {
    text-align: left;
}

/*main content*/
main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    text-align: center;
    margin: 40px 0;
}

.image-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}

#fourth_section img {
    height: 250px;
}

#third_section img {
    height: 250px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 10px;
    background: rgba(133, 193, 140, 0.63);
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 20px;
}

#first_section .section_wrapper {
    padding: 2px 20px 2px 20px;
    margin: 2px 20px 2px 20px;
}

#second_section .section_wrapper {
    padding: 2px 20px 2px 20px;
    margin: 2px 20px 2px 20px;
}

#third_section .section_wrapper {
    padding: 2px 20px 2px 20px;
    margin: 2px 20px 2px 20px;
}

#fourth_section .section_wrapper {
    padding: 2px 20px 2px 20px;
    margin: 2px 20px 2px 20px;
}

.col {
    padding-top: 4rem;
}

@media (min-width: 600px) {
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
