img {
    width: 100%;
    vertical-align: middle;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


#fourth_section img {
    height: 250px;
}

#third_section img {
    height: 250px;
}

.image-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 10px;
    background: white;
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 20px;
}

.text {
    padding: 20px;
}


@media (min-width: 600px) {
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

.button {

    position: relative;
    display: inline-block;
    background-color: #d6d6d6;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    left: 31vw;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);

}

a:hover {
    color: #FCEE21;
}
