/*
img {
    position: absolute;
    background-size: cover;
}
*/

#first_section {
    width: 100vw;
/*    height: 45vh;
    */    background-size: cover;
/*    background-position: 50% 50%;
    */    max-width: none;
}
