#first_section {
    width: 100vw;
    background-size: cover;
    max-width: none;
    padding-bottom: 0;
}

/*
#background_section {
    width: 100vw;
    height: 45vh;
    background-image: url(forside_image/baggrund.jpg);
    background-size: cover;
    background-position: 50% 50%;
    max-width: none;
}

#font_section {
    width: 48%;
    height: 33%;
    position: absolute;
    cursor: pointer;
    background-image: url(forside_image/overskrift.svg);
    background-size: cover;
    left: 9vw;
    top: 8vw;
}

#logo_section {
    width: 20%;
    height: 37%;
    position: absolute;
    cursor: pointer;
    background-image: url(forside_image/logo.svg);
    background-size: cover;
    left: 21vw;
    top: 26vw;
}

@media (min-width: 600px) {
    #background_section {
        width: 100vw;
        height: 100vh;
        background-image: url(forside_image/baggrund.jpg);
        background-size: cover;
        background-position: 50% 50%;
        max-width: none;
    }

    #font_section {
        width: 48%;
        height: 33%;
        position: absolute;
        cursor: pointer;
        background-image: url(forside_image/overskrift.svg);
        background-size: cover;
        left: 9vw;
        top: 8vw;
    }

    #logo_section {
        width: 20%;
        height: 37%;
        position: absolute;
        cursor: pointer;
        background-image: url(forside_image/logo.svg);
        background-size: cover;
        left: 21vw;
        top: 26vw;
    }
}*/
