#first_section {
    width: 100%;
    height: 89vh;
    background-image: url(forside_image/Artboard%201.jpg);
    background-size: cover;
    background-position: 56% 50%;
    max-width: none;
    padding-bottom: 0;
}

#first_section h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    color: #FAF8F2;
    margin: 0;
    padding-left: 10px;
    padding-top: 150px;
}

#first_section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #FAF8F2;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.logo {
    position: absolute;
    width: 40vw;
    height: 40vw;
    background-image: url(forside_image/logo.svg);
    background-size: 100%;

    top: 70vw;
    left: 8vw;
}


@media (min-width:500px) {
    #first_section h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        color: #FAF8F2;
        margin: 0;
        padding-left: 10px;
        padding-top: 150px;
    }

    .logo {
        position: absolute;
        width: 40vw;
        height: 40vw;
        background-image: url(forside_image/logo.svg);
        background-size: 100%;

        top: 60vw;
        left: 8vw;
    }

}

@media (min-width:730px) {

    #first_section {
        width: 100%;
        height: 100vh;
        background-image: url(forside_image/Artboard%201.jpg);
        background-size: cover;
        background-position: 50% 50%;
        max-width: none;
    }

    #first_section h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3.1rem;
        color: #FAF8F2;
        margin: 0;
        padding-left: 50px;
        padding-top: 150px;
    }

    #first_section h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
        color: #FAF8F2;
        margin: 0;
        padding-left: 50px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .logo {
        position: absolute;
        width: 40vw;
        height: 40vw;
        background-image: url(forside_image/logo.svg);
        background-size: 100%;

        top: 48vw;
        left: 8vw;
    }
}

@media (min-width:830px) {
    #first_section h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3.2rem;
        color: #FAF8F2;
        margin: 0;
        padding-left: 50px;
        padding-top: 150px;
    }

    #first_section h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 2.8rem;
        color: #FAF8F2;
        margin: 0;
        padding-left: 50px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .logo {
        position: absolute;
        width: 40vw;
        height: 40vw;
        background-image: url(forside_image/logo.svg);
        background-size: 100%;

        top: 45vw;
        left: 8vw;
    }
}

@media (min-width:880px) {
    #first_section h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3.5rem;
        color: #FAF8F2;
        margin: 0;
        padding-left: 85px;
        padding-top: 150px;
    }

    #first_section h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 2.8rem;
        color: #FAF8F2;
        margin: 0;
        padding-left: 85px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .logo {
        position: absolute;
        width: 40vw;
        height: 40vw;
        background-image: url(forside_image/logo.svg);
        background-size: 100%;

        top: 40vw;
        left: 8vw;
    }
}

@media (min-width:1000px) {
    #first_section h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        color: #FAF8F2;
        margin: 0;
        padding-left: 213px;
        padding-top: 150px;
    }


    #first_section h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 3.5rem;
        color: #000000;
        margin: 0;
        padding-left: 260px;
        padding-bottom: 0;
        padding-top: 0;
    }


    .logo {
        position: absolute;
        width: 22vw;
        height: 22vw;
        background-image: url(forside_image/logo.svg);
        background-size: 100%;

        top: 26vw;
        left: 21vw;
    }

}

.rotation {
    animation-name: rotation_kf;
    animation-duration: 14s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotation_kf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
