body {
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}


#third_section .section_wrapper {
    padding: 2px 20px 2px 20px;
    margin: 2px 20px 2px 20px;
    font-size: 0.9rem;
    line-height: 1rem;
}

#third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#third_section .section_wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#third_section .section_wrapper2 {
    padding: 2px 20px 2px 20px;
    margin: 2px 20px 2px 20px;
    font-size: 0.9rem;
    line-height: 1rem;
}

#second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding-left: 7rem;
    padding-right: 7rem;
}

#second_section .col h3 {
    padding-top: 10rem;
}

.image-container {
    display: flex;
    gap: 5px;
    padding: 20px;
}


.image-container figure {
    text-align: center;
    flex-grow: 1;
}



.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 20px;
}


#first_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#first_section img {
    display: block;
    object-fit: cover;
    height: 100%;
}

#first_section .titel {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #1BE6D1;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
}

#first_section .titel h2 {
    color: #FCEE21;
    text-decoration: underline;

}

#first_section .image1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#first_section .image2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#first_section .image3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#first_section .image4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#first_section .image5 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#first_section .image6 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#first_section .image7 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#first_section .image8 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.text1 p {
    padding: 20px;
    margin: 0;
    background-color: #bfdfe6;
}

.text2 p {
    padding: 20px;
    margin: 0;
    background-color: #bfdfe6;
}
