.favicon {
    width: 250px;
    height: 250px;
}

.logo {
    width: 278px;
    height: 290px;
}

/*pilot video*/
.video1 {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    padding-top: calc((9/16)*100%)
}

iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Baggrundsvideo*/
.video2 {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    padding-top: calc((9/16)*100%)
}

video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/*billede galleri*/
.image-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}


.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 10px;
    background: rgb(230, 218, 201);
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 20px;
}


#fifth_section .text1 {
    width: 290px;
    padding-left: 22px;
}

.text {
    padding: 20px;
}

/*overlay ekspempel*/
.imagecol {
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
    padding: 1rem;
    width: 250px;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: white;
    text-align: center;
}

.imagecol:hover .overlay {
    opacity: 1;
}

.textoverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.textoverlay p {
    color: #000000;
    font-size: 12px;

}

.textoverlay h3 {
    font-size: 13px;
}

.produktknap {
    background-color: #D7D7D9;
    font-family: 'Montserrat';
    font-size: 10px;
    opacity: 60%;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.produktknap a {
    text-decoration: none;
    color: black;
}

iframe {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

video {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#fifth_section img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#sixth_section img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.button1 {
    position: relative;
    display: inline-block;
    background-color: #d6d6d6;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    left: 39vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);

}

.button {
    position: relative;
    display: inline-block;
    background-color: #d6d6d6;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    left: 31vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);

}

a:hover {
    color: #FCEE21;
}

iframe {
    border: none;
}

#third_section .section_wrapper {
    padding-left: 20vw;
    padding-right: 24vw;
}

#third_section .text {
    padding: 0;
}

#fourth_section {
    padding-left: 20vw;
    padding-right: 24vw;
}

@media (min-width: 720px) {

    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    #third_section .logo {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #third_section .favicon {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #third_section .text1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    /*section5*/

    #fifth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 2rem;
    }

    #fifth_section .section_wrapper h2 {
        padding-top: 2rem;
    }

    /*section6*/

    #sixth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 0.5rem;
    }

    #sixth_section .text12 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 0.5rem;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }

    #fourth_section {
        padding-left: 15vw;
        padding-right: 0;
    }
}

@media (min-width: 885px) {
    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 0.5rem;
        height: 251px;
    }

    #third_section .section_wrapper {
        background-color: rgba(240, 240, 240, 0.44);
    }

    #third_section .section_wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #third_section .text {
        padding-top: 30px;
    }
}

@media (min-width: 1090px) {
    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    /*section4*/
    #fourth_section {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0px;
    }

    .button1 {
        position: relative;
        display: inline-block;
        background-color: #d6d6d6;
        text-decoration: none;
        border-radius: 4px;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding: 10px;
        left: 31vw;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);

    }
}
