body {
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 2rem;
}


#frist_section .section_wrapper {
    padding: 2px 20px 2px 20px;
    margin: 2px 20px 2px 20px;
    font-size: 0.9rem;
    line-height: 1rem;
}

#frist_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


#frist_section .section_wrapper .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
}
