.image-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 10px;
    background: rgba(133, 193, 140, 0.63);
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 20px;
}

.text {
    padding: 20px;
}

@media (min-width:600px) {

    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 50px;
    }

    #first_section h3 {
        padding-top: 2rem;
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    #second_section h3 {
        padding-top: 12rem;
    }
}
