img {

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 10px;
    background: rgba(133, 193, 140, 0.63);
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 20px;
}

.text {
    padding: 20px;
}

@media (min-width:500px) {
    #second_section .section_wrapper {
        padding: 2rem;
    }
}


@media (min-width:880px) {
    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

}

@media (min-width:900px) {

    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 50px;
    }



    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    #second_section h3 {
        padding-top: 5rem;
    }
}

.button {

    position: relative;
    display: inline-block;
    background-color: #d6d6d6;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    left: 31vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);

}

a:hover {
    color: #FCEE21;
}
