* {
    box-sizing: border-box;
}


main {
    max-width: 1080px;
    margin: 1.5rem auto;
    /*    margin-top: 1rem;*/
}


body {
    margin: 0;

}

img {
    width: 100%;
    max-width: 100%;

}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 1rem;

}

p {
    font-family: 'Poppins', sans-serif;
    /*    font-family: 'Montserrat';*/
    /*font-size: 0.8rem;*/
}

h1 {
    font-family: 'Poppins', sans-serif;
    /*    font-family: 'Playfair Display', serif;*/
    text-align: center;
    font-size: 6rem;
    color: #FAF8F2;
    /*#D7D7D9;*/

}

h2 {
    color: #555555;
    font-family: 'Poppins', sans-serif;
    /*    font-family: 'Playfair Display', serif;*/
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 20px;
}

h3 {
    color: #f8de10;
    /*#FCC751;*/
    font-family: 'Poppins', sans-serif;
    /*    font-family: 'Playfair Display', serif;*/
}

h4 {
    color: #9f9f9f;
    font-family: 'Poppins', sans-serif;
    /*    font-family: 'Playfair Display', serif;*/

}

nav a {
    font-family: 'Poppins', sans-serif;
    /*    font-family: 'Montserrat';*/
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #FCEE21;
}

/* Navigation */
nav {
    position: relative;
    /*    z-index: 1;
    */
    text-align: left;

}

.hidden {
    opacity: 0;
    transform: translateY(-10px);
}

header {
    background: #ffffff;
    text-align: center;
}


nav ul {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    background-color: white;
    width: 100%;
    height: 44vh;
    margin: 0;
}

nav a {
    font-size: 1rem;
    padding: 4rem;
}

#menu {
    transition: transform 0.3s;
    transform-origin: top;
}

#menuknap {
    cursor: pointer;
    padding-left: 90vw;
    padding-top: 1rem;

}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 1px;
    background-color: #FCEE21;
    margin: 10px 0;
    transition: 0.4s;
}

#menu li {
    list-style: none;
    padding: 1.5vh;

}


/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (min-width:730px) {
    /*Navigation*/

    #menuknap {
        display: none;
    }

    #menu.hidden {
        opacity: 1;

    }

    #menu li {
        display: inline-block;
        margin: 1rem;
        padding: 0;

    }

    nav ul {
        position: relative;
        padding-left: 0;
        background: none;
        height: 2rem;
        width: 100%;
        margin: 0;
    }

    nav {
        position: relative;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    section {
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 6rem;

    }


}

.footer {
    height: 55px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer a {
    display: inline-block;
    color: black;
    border: 1px solid #f8de10;
    padding: 8px;
    margin: 3px;
    text-decoration: none;
}

.footer a:hover {
    color: #FCEE21;
}
