.text {
    padding: 2rem;
}

@media (min-width: 600px) {
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-gap: 2rem;
        padding-top: 6rem;
    }

    .text {
        padding: 0;
    }
}
